# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/
.env

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
.installedFiles

# Editors and IDEs
.vscode/
.idea/

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log